<ion-header>
  <ion-toolbar>
    <ion-title>favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
        <ion-col size-xs="4" *ngFor="let f of arrfav">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{f}}.png" alt="Imagen"/>
            <ion-button size="small" href="/tabs/estadisticas/{{f}}/">info</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
