<ion-header>
  <ion-toolbar>
    <ion-title>{{listado?.name}}</ion-title>
    <ion-buttons slot="start">
      <!-- <ion-back-button></ion-back-button> -->
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{idPokemon}}.png"></ion-img>
    <ion-card-header>
      <ion-card-title>{{listado?.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Altura: {{listado?.height}}</p>
      <p>Peso: {{listado?.weight}}</p>
      <p *ngFor="let tipo of listado?.types; let indice = index">tipo {{indice +1}}: {{tipo.type.name}}</p>
      <p>Nro Pokedex: {{idPokemon}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
