<ion-header>
  <ion-toolbar>
    <ion-title>lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let pokemon of listado?.results; let indice=index;">
      <ion-item href="/tabs/estadisticas/{{indice+1}}/{{pokemon.name}}">
        <ion-avatar slot="start">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{indice+1}}.png" alt="Imagen"/>
        </ion-avatar>
        <ion-label>
          <h2>{{pokemon.name}}</h2>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="favorite(indice+1)">favorito</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>
</ion-content>
